---
import Hero from "@/components/index/Hero.astro";
import Section from "@/components/index/Section.astro";
import Navbar from "@/components/Navbar.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Navbar />
  <Hero />
  <Section>
    <h2>About</h2>
    <p>ここにUEC Atlasの説明文が入ります。</p>
  </Section>
  <Section>
    <h2>Get Started</h2>
    <p>ここに説明文が入ります。</p>
  </Section>
  <Section>
    <h2>Title</h2>
    <p>ここに説明文が入ります。</p>
  </Section>
  <Section>
    <h2>Title</h2>
    <p>ここに説明文が入ります。</p>
  </Section>
  <Section>
    <h2>Title</h2>
    <p>ここに説明文が入ります。</p>
  </Section>
</Layout>
