<footer
  class="d-footer sm:d-footer-horizontal bg-base-300 text-base-content p-10"
>
  <aside>
    <p>UEC Atlas</p>
  </aside>
  <nav>
    <h6 class="d-footer-title">Repository</h6>
    <a class="d-link link-hover" href="/page/organizations">Organizations</a>
    <a class="d-link link-hover" href="/page/spatial">Spatial</a>
  </nav>
</footer>
