---
import { getOntology } from "@/pages/ontology/[path].ttl";
import { getJsonLdTransformers } from "@/utils/jsonld-transformer";
import { Code } from "astro:components";

type CodeProps = Parameters<typeof Code>[0];
interface Props extends CodeProps {
  ontology: string;
}

const ontology = await getOntology(Astro.props.ontology);
const transformers = await getJsonLdTransformers(
  Astro.props.code,
  ontology || "",
);
---

<div class="d-mockup-code">
  <Code
    class="bg-transparent! px-4 before:hidden"
    lang="json"
    theme="github-dark-dimmed"
    {...Astro.props}
    transformers={[...(Astro.props.transformers ?? []), ...transformers]}
  />
</div>

<style is:global>
  .jsonld-hover-target::before {
    white-space: pre-line;
    text-align: left;
    max-width: 24rem;
  }
</style>
